.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.container h1 {
  font-size: 3rem;
}

.container main form, .container main section {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 0;
}

.container main section label {
  margin: 1rem 0 .4rem 0;
}

.container main section textarea, .matchText {
  resize: vertical;
  background-color: transparent;
  border-radius: 0.3rem;

  max-height: 275px;

  margin: 0.5rem 0;
  border: 2px solid brown;
  outline: 0;
}